node_modules
.DS_Store
*.log

**/packages/*/dist
**/node_modules
**/.DS_Store
**/*.log

vue3-ts-ui/packages/*/lib
vue3-ts-ui/lib

ts-study/dist

前端监控/monitor-demo/dist

go/file-store-server/tmp
go/file-store-server-gin/tmp
