@import './common/mixin.scss';

@include b(message) {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    border-radius: 5px;
    background-color: bisque;
    line-height: 40px;
    height: 40px;
    display: flex;
    color: $--color-white;
    transition: all 0.4s linear;

    @include m(info) {
        background-color: $--color-info;
    }

    @include m(success) {
        background-color: $--color-success;
    }

    @include m(danger) {
        background-color: $--color-danger;
    }

    @include m(warning) {
        background-color: $--color-warning;
    }

    @include m(primary) {
        background-color: $--color-primary;
    }

    @include when(center) {
        justify-content: center;
    }
}

.z-message-fade-enter-from, .z-message-fade-leave-to {
    transform: translate(-50%, -100%);
}